.timer-button {
  border-radius: 15rem;
  border: 1rem solid var(--ion-color-secondary);
  width: 18rem;
  height: 18rem;
  display: block;
  margin: auto;
}

.clock-display {
  font-size: 3rem;
  margin-top: 5rem;
}
